.Wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  padding: 20px 10vw;
  gap: 15px;
}

.Wrapper .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Wrapper .Header button {
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.07));
  padding: 10px;
  aspect-ratio: 1 / 1;
  border: none;
}

.Wrapper .SearchBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  gap: 10px;
}

.Wrapper .SearchBox input {
  background-color: transparent;
  width: 100%;
  border: none;
  color: black;
}

.Wrapper .BodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Wrapper .BodyWrapper .ContentsWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 230px);
}

.ContentsWrap .Individual {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;
}

.ContentsWrap .Individual img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.Individual .Leftside {
  display: flex; 
  gap: 10px;
  text-align: left;
}
