.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);
  width: 100%;
  padding: 30px 0vw 0px;
  gap: 20px;
}

.Wrapper .Header {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 10vw;
}

.Wrapper .Header > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Wrapper .Header > div h1 {
  font-size: 35px;
}
.Wrapper .Header > div button {
  background: none;
  cursor: pointer;
}

.Wrapper .bodyWrapper {
  height: calc(100% - 100px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0px 10vw;
}

.Wrapper .bodyWrapper .bodySections {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow-x: hidden; */
  gap: 10px;
}

.Wrapper .bodyWrapper .bodySections > .ContentWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Wrapper .bodyWrapper .bodySections > .ContentWrap > div {
  width: calc(100% / 2 - 10px);
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.Wrapper .bodyWrapper .bodySections > .ContentWrap > div img {
  width: 100%;
  height: 100%;
}

.Wrapper .bodyWrapper .bodySections > .ContentWrap > div > div {
  position: absolute;
  z-index: 99;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Wrapper .bodyWrapper .bodySections > .ContentWrap > div > div button {
  background-color: rgba(219, 219, 219, 0.5);
  padding: 5px;
  width: 50%;
}

.Wrapper .bodyWrapper .bodySections > .ContentWrap > div > div button svg {
  height: 30px;
}

/* Match Found page */

.WrapperMF {
  height: 100vh;
  padding: 20px 10vw;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.WrapperMF img {
  max-width: 200px;
  max-height: 300px;
  height: auto;
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

.WrapperMF .ImageSet {
  max-height: 80vh;
}
.WrapperMF .ImageSet .ImageWrap {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.WrapperMF .ImageSet  img{
  width: 100%;
}
.WrapperMF .ImageSet .imageone {
  margin-bottom: -10vh;
  transform: rotate(-12deg);
  z-index: 666;
}
.WrapperMF .ImageSet .imagetwo {
  margin-left: -5vw;
  margin-top: -8vh;
  transform: rotate(15deg);
}
.WrapperMF .ImageSet .ImageWrap .heart2 {
  position: absolute;
  height: 70px;
  object-fit: contain;
  top: -8%;
  right: 50%;
  z-index: 8000;
  transform: rotate(20deg);
}
.WrapperMF .ImageSet .ImageWrap .heart1 {
  position: absolute;
  height: 70px;
  object-fit: contain;
  bottom: -8%;
  left: -50%;
  z-index: 8000;
}
.WrapperMF .ImageSet h2 {
  font-size: 34px;
  color: #e94057;
  text-align: center;
}
.WrapperMF .ImageSet p {
  font-size: 15px;
}
.WrapperMF .ButtonWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.WrapperMF button {
  background-color: #e94057;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
}
