.Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10vw;
}
.Wrapper .swiperSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wrapper .swiperSection img {
  max-height: 300px;
}

.cutomPagination {
  background-color: aquamarine;
}

.submitButton {
  color: black;
}

.submitButton button {
  color: white;
  background-color: red;
  padding: 10px 20px;
  border-radius: 20px;
}
