.Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10%;
}
.Wrapper .swiperSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wrapper .swiperSection img {
  max-height: 300px;
  max-width: 300px;
  width: 100%;
  height: 40%;
  border-radius: 20px;
}

.cutomPagination {
  background-color: aquamarine;
}


