.Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Wrapper .swiperSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wrapper .swiperSection img {
  max-height: 300px;
}

.cutomPagination{
    background-color: aquamarine;
}