.wrapper {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input {
  width: 16rem;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 1px solid salmon;
  border-radius: 8px;
}

.form button {
  color: white;
  background-color: #E94057;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
}

.wrapper>p{
	font-size: 14px;
}



.wrapper>p a{
	color: #e94057;
}